{% extends 'base.html' %} 
    {% block title %}User Profile{% endblock %} 
    {% block content %}
        <div class="container">
        <div class="row">
            <div class="col-6 offset-3">
            <h1 class="text-center my-3">Update Profile</h1>
            <form action="{% url 'todolist:update_profile' %}" method="post">
                {% csrf_token %}

                <div class="mb-3">
                <label for="first_name">First Name:</label>
                <input
                    type="text"
                    class="form-control"
                    id="first_name"
                    name="first_name"
                    value="{{ first_name }}"
                    maxlength="50"
                    required
                />
                </div>
                <div class="mb-3">
                    <label for="last_name">Last Name:</label>
                    <input
                        type="text"
                        class="form-control"
                        id="last_name"
                        name="last_name"
                        value="{{ last_name }}"
                        maxlength="50"
                        required
                    />
                </div>
                <div class="mb-3">
                <label for="password">Password:</label>
                <input
                    type="text"
                    class="form-control"
                    id="password"
                    name="password"
                    value="{{ password }}"
                    required
                />
                </div>
                <div class="text-center"> 
                <input type="submit" class="btn btn-success" value="Update Profile" />
                </div>
            </form>
            </div>
        </div>
        </div>
    {% endblock %}

